.Memories{

    color: white;
    background-color: #181818a7;
    font-size: 30px;

    padding: 50px 100px;
    margin: 0px 250px;
    border-radius: 25px;
    text-align: center;
}

.Memories article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Memories article a{
    margin: 10px;
}

.Memories-Items{
    margin: 50px 0px;
}

.Memories-Items-List-Item{
    position: relative;

    width: 300px;
    height: 300px;
}
.Memories-Items-List-Item-Title{
    position: absolute;
    text-align: left;
    padding: 10px;
    bottom: -10px;
    left: 10px;

    font-size: 30px;
    text-shadow: rgb(0, 0, 0) 5px 0 10px;
    /*background-color: #181818;
    border-radius: 15px;*/
}

.Memories-Items-List-Item-Date{
    position: absolute;
    text-align: left;
    padding: 10px;
    bottom: -20px;
    left: 10px;

    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 5px 0 10px;
    /*background-color: #181818;
    border-radius: 15px;*/
}

.Memories-Items-List-Item img{
    object-fit: cover;
    overflow: hidden;
    border: white 10px solid;
    width: 100%;
    height: 100%;
}

