.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 150px;
    box-shadow: 0 -14px 45px 51px #181818;
    background-color: #181818;
    color: white;
    text-align: center;

    


 }